
/* Automatic Numbering */
.content h1{counter-increment: h1; }
.content h1::before{content: counter(h1) ". ";counter-set:h2 h3 h4 h5 h6; }
.content h2{counter-increment: h2; }   
.content h2::before{content: counter(h1) ". " counter(h2) ". ";counter-set: h3 h4 h5 h6;}
.content h3{counter-increment: h3; }   
.content h3:before{content: counter(h1) ". " counter(h2) ". " counter(h3) ". "; counter-set: h4 h5 h6;}
.content h4{counter-increment: h4; }   
.content h4::before{content: counter(h1) ". " counter(h2) ". " counter(h3) ". " counter(h4) ". ";counter-set: h5 h6; }
.content h5{counter-increment: h5;}   
.content h5::before{content: counter(h1) ". " counter(h2) ". " counter(h3) ". " counter(h4) ". " counter(h5) ". "; counter-set: h6;}
.content h6{counter-increment: h6;}   
.content h6::before{content: counter(h1) ". " counter(h2) ". " counter(h3) ". " counter(h4) ". " counter(h5) ". " counter(h6) ". "; counter-reset: h6;}