.content{
    padding: 0px;
    line-height: 30px;
}

:root {
    --space: 2rem;
    --space-xs: calc(var(--space) / 3);
    --space-sm: calc(var(--space) / 2);
    --space-md: calc(var(--space) * 2);
  
    --color-primary: lightgray;
    --color-accent: whitesmoke;
    --color-dark: black;
    --color-mid: gray;
    --color-light: white;
    --color-highlight: dodgerblue;
  
    --radius: 0.125rem;
  }
  

.content , p{
    margin-left: 20px;
}


.content , h2 {
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 25px;
}

.content , h3 {
    margin-bottom: 25px;
    margin-left: 10px;
    margin-top: 20px;
}


.content , h4 {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 15px;
}

.content , h5 {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 15px;
}

.content , h6 {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.sidebar {
    --offset: var(--space);
    flex-grow: 1;
    flex-basis: 300px;
    align-self: start;
    position: sticky;
    /* top: var(--offset); */
    top: calc(var(--offset)+90px);
}

h1,h2,h3,h4,h5,h6{
    position: relative;
    display: inline-block;
    scroll-margin-top: 100px;
}


.content {
    margin-left: 20px;
}



blockquote{
    margin-left: 30px;
    background: #f3f3f3;
    padding: 15px 10px 5px;
    border-left: 4px solid var(--primaryColor);
    margin: 10px;
}

div#scroll-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--primaryColor);
    transition: 0.5s ease;
  }